[tool.poetry]
authors = [
  "Andres Rodriguez <andres@validmind.ai>",
  "Juan Martinez <juan@validmind.ai>",
  "Anil Sorathiya <anil@validmind.ai>",
  "Luis Pallares <luis@validmind.ai>",
  "John Halz <john@validmind.ai>",
]
description = "ValidMind Library"
license = "Commercial License"
name = "validmind"
readme = "README.pypi.md"
version = "2.8.28"

[tool.poetry.dependencies]
aiohttp = {extras = ["speedups"], version = "*"}
anywidget = "^0.9.13"
arch = "*"
bert-score = ">=0.3.13"
catboost = "*"
datasets = "^2.10.0"
evaluate = "*"
h11 = ">=0.16.0"
ipywidgets = "*"
kaleido = ">=0.2.1,!=0.2.1.post1"
langchain-openai = {version = ">=0.1.8", optional = true}
langdetect = "*"
llvmlite = {version = "*", python = ">=3.8,<=3.11"}
matplotlib = "*"
mistune = "^3.0.2"
nest-asyncio = "^1.6.0"
nltk = "^3.8.1"
numba = "<0.59.0" # TODO: https://github.com/validmind/validmind-library/pull/28
numpy = "*"
openai = ">=1"
pandas = ">=1.1,<=2.0.3"
plotly = "<6.0.0"
plotly-express = "*"
polars = "*"
pycocoevalcap = {version = "^1.2", optional = true}
python = ">=3.9.0,<3.12"
python-dotenv = "*"
ragas = {version = ">=0.2.3,<=0.2.7", optional = true}
rouge = ">=1"
scikit-learn = "*,<1.6.0"
scipy = "*"
scorecardpy = "^0.1.9.6"
seaborn = "*"
sentencepiece = {version = "^0.2.0", optional = true}
sentry-sdk = "^1.24.0"
shap = "0.44.1"
statsmodels = "*"
tabulate = "^0.8.9"
textblob = "^0.18.0.post0"
tiktoken = "*"
torch = {version = "2.7.0", optional = true}
tqdm = "*"
transformers = {version = "^4.32.0", optional = true}
xgboost = ">=1.5.2,<3"
yfinance = "^0.2.48"

[tool.poetry.group.dev.dependencies]
black = "^22.1.0"
click = "*"
cython = "^0.29.34"
docstring_parser = "*"
flake8 = "^4.0.1"
griffe = "*"
ipykernel = "^6.22.0"
isort = "^5.12.0"
jupyter = "^1.0.0"
mdformat = "*"
papermill = "^2.4.0"
pdoc = "^14.4.0"
pre-commit = "^3.3.3"
sphinx = "^6.1.3"
sphinx-markdown-builder = "^0.5.5"
sphinx-rtd-theme = "^1.2.0"
twine = "^4.0.2"

[tool.poetry.extras]
all = [
  "torch",
  "transformers",
  "pycocoevalcap",
  "ragas",
  "sentencepiece",
  "langchain-openai",
]
huggingface = ["transformers", "sentencepiece"]
llm = [
  "torch",
  "transformers",
  "pycocoevalcap",
  "ragas",
  "sentencepiece",
  "langchain-openai",
]
pytorch = ["torch"]

[build-system]
build-backend = "poetry.core.masonry.api"
requires = ["poetry-core>=1.0.0"]

[tool.isort]
known_first_party = "validmind"
profile = "black"

[tool.poetry.scripts]
vm-create-new-test = "scripts.create_new_test:generate_test"
