{%- from 'macros/types.jinja2' import format_type -%}

{%- macro render_signature(member) -%}
<!-- signatures.jinja2 -->
::: {.signature}

{# Skip 'def' for constructors #}
{%- if not (member.name == "__init__" and member.kind in ["method", "function"]) -%}
<span class="kw">
  {%- if member.kind == "class" or member.kind == "alias" -%}class
  {%- elif member.kind == "function" or member.kind == "method" -%}def
  {%- else -%}{{ member.kind }}
  {%- endif -%}
</span>
{%- endif -%}
<span class="name">{{ member.parent.name if (member.name == "__init__" and member.parent is defined) else member.name }}</span>
{%- if member.kind == "class" -%}
{%- elif member.parameters -%}({{- '' -}}
  {%- set params = [] -%}
  {%- for param in member.parameters -%}
    {%- if (param.name != "self" or member.parent is defined) and not (param.name == "self" and member.name == "__init__") -%}
      {%- set _ = params.append(param) -%}
    {%- endif -%}
  {%- endfor -%}
  {%- for param in params -%}
    <span class="{{ 'param' if member.kind == 'class' or member.parent is defined or member.decorators is defined else 'params' }}">
    {%- if param.name == "self" -%}
      <span class="bp">self</span>
    {%- else -%}
      <span class="n">{{ "**" if param.name == "kwargs" else "*" if param.kind == "variadic positional" else "" }}{{ param.name }}</span>
    {%- endif -%}
    {%- if param.annotation -%}
      <span class="p">:</span>{{ format_type(param.annotation, add_links=false) }}
    {%- endif -%}
    {%- if param.default is not none and param.name != "kwargs" and param.kind != "variadic positional" -%}
      <span class="o">=</span>
      {%- if param.default is string and param.default.startswith("'") and param.default.endswith("'") -%}
        <span class="s1">{{ param.default }}</span>
      {%- else -%}
        <span class="kc">{{ param.default }}</span>
      {%- endif -%}
    {%- endif -%}
    {%- if not loop.last -%}<span class="muted">,</span>{%- endif -%}
    </span>
  {%- endfor -%})
  {%- else -%}()
{%- endif -%}
{%- if member.returns -%}
  <span class="p"> → </span><span class="return-annotation">
    {{- format_type(member.returns, add_links=true) if member.returns else 'Any' -}}
  </span>
{%- endif -%}
{%- if not (member.name == "__init__") -%}:{%- endif +%}

:::
{%- endmacro -%}