{%- from 'macros/types.jinja2' import format_type -%}

{%- macro render_signature(member) -%}
<!-- signatures.jinja2 -->
::: {.signature}

<span class="kw">
  {%- if member.kind == "class" or member.kind == "alias" -%}class
  {%- elif member.kind == "function" or member.kind == "method" -%}def
  {%- else -%}{{ member.kind }}
  {%- endif -%}
</span>
<span class="name">{{ member.name }}</span>{%- if member.parameters -%}({{- '' -}}
  {%- if member.parameters | length == 1 -%}
    <span class="param"><span class="n">{{ member.parameters[0].name }}</span>
    {%- if member.parameters[0].annotation -%}
      <span class="p">:</span><span class="n">{{ format_type(member.parameters[0].annotation, add_links=true) }}</span>
    {%- endif -%}
    {%- if member.parameters[0].default is not none -%}
      <span class="o"> = </span><span class="kc">{{ member.parameters[0].default }}</span>
    {%- endif -%}
    </span>
  {%- else -%}
    {%- for param in member.parameters -%}
      <span class="params"><span class="n">{{ param.name }}</span>
      {%- if param.annotation -%}
        <span class="p">:</span><span class="n">{{ format_type(param.annotation, add_links=true) }}</span>
      {%- endif -%}
      {%- if param.default is not none -%}
        <span class="o"> = </span><span class="kc">{{ param.default }}</span>
      {%- endif -%}
      {%- if not loop.last -%}<span class="muted">,</span>{%- endif -%}
      </span>
    {%- endfor -%}
  {%- endif -%})
  {%- else -%}()
{%- endif -%}
{%- if member.returns -%}
  <span class="p"> → </span><span class="return-annotation">
    {{- format_type(member.returns, add_links=true) if member.returns else 'Any' -}}
  </span>
{%- endif +%}

:::
{%- endmacro -%}