{% if member.kind == "function" %}

## {{ member_name | default(member.name) }}[()]{.muted}

```python
{% if member.labels and "async" in member.labels %}async {% endif %}def {{ member_name | default(member.name) }}(
{% for param in member.parameters %}
    {{ '**' if param.kind == 'variadic keyword' else '*' if param.kind == 'variadic positional' else '' }}{{ param.name }}{% if param.annotation %}: {{ param.annotation.name if param.annotation.cls == "ExprName" else param.annotation.left.name if param.annotation.cls == "ExprSubscript" else "" }}{% endif %}{% if param.default is not none %} = {{ param.default }}{% endif %}{% if not loop.last %},
{% endif %}
{%- endfor %}
){% if member.returns %} -> {{ types.format_module_return_type(member.returns, module, full_data) }}{% endif %}:
```

{% if member.docstring %}
{{ doc.format_docstring(member.docstring) }}
{% endif %}
{% endif %} 