---
title: "[validmind](/validmind/validmind.html).__version__"
sidebar: validmind-reference
---

<!-- version.qmd.jinja2 -->
{% from "macros/signatures.jinja2" import render_version_signature %}
{{ render_version_signature(module.members.__version__) }}
