---
title: "[validmind](/validmind/validmind.html).__version__"
sidebar: validmind-reference
---

<!-- version.qmd.jinja2 -->
::: {.signature}

<span class="name">{{ module.members.__version__.value | replace("'", "") if module.members.__version__.value else module.members.__version__.members.__version__.value | replace("'", "") }}</span>

:::
