---
title: vm_models
toc-depth: 3
toc-expand: 3
---

Models entrypoint

{% if module.members %}
{% set vm_members = module.members %}
{% if '__all__' in vm_members %}
{% set all_list = [] %}
{% for element in vm_members['__all__'].value.elements %}
    {% set _ = all_list.append(element.strip("'")) %}
{% endfor %}

{# Process each item in __all__ #}
{% for item_name in all_list %}
    {% if item_name in vm_members %}
        {% set member = vm_members[item_name] %}
        {% set resolved = resolve_alias(member, full_data) %}
        
        ## [{{ resolved.kind }}]{.muted} {{ item_name }}
        
        ```python
        {{ resolved.kind }} {{ item_name }}{% if resolved.bases %}({{ resolved.bases | join(', ') }}){% endif %}:
        ```
        
        {% if resolved.docstring %}
        {{ doc.format_docstring(resolved.docstring) }}
        {% endif %}
        
    {% endif %}
{% endfor %}
{% endif %}
{% endif %} 